@import '../colorScheme';

.jb-top-bar {
  display: grid;
  grid-template-areas: "logon welcome contact";
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  background: transparent;
  color: $jb-title;
}

.jb-icon-contact {
  grid-area: contact;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: $jb-icon;

  :hover {
    color: $jb-action-hover;
  }
}

.jb-icon-logon {
  margin-left: 8px;
  margin-right: 8px;
  grid-area: logon;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: $jb-icon;

  :hover {
    color: $jb-action-hover;
  }
}

.jb-header-text {
  grid-area: welcome;
  font-style: italic;
  font-size: .85em;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.activated {
  color: $jb-nav-active-foreground;
  background: #222222;
  border: 1px;
  border-style: outset;
  border-color: #444444;
}
