@import '../globals';

body {
  position: absolute;
  top: 0; left: 0;right: 0;bottom: 0;
  margin: 0;
  padding: 0;
  height: auto;
  background: $jb-main-background;
}
.jb-header{ // this is the entire top bar
  display: flex;
  flex-direction: row;
  justify-items: center;
  background: $jb-main-background;
  color: $jb-font-highlight;
}
.jb-icon-logon { //icon on left
  flex: 1 0 5%;
  margin: 0;
  padding-top: $jb-icon-pad-y;
  padding-left: $jb-icon-pad-x;
  padding-bottom: $jb-icon-pad-y;
  padding-right: $jb-icon-pad-x;
  color: $jb-icon;
    :hover {
    color: $jb-nav-hover-foreground;
  }
}
.jb-header-text { // message in the middle
  flex: 1 1 80%;
  text-align: center;
  font-style: italic;
  font-size: .85em;
  margin-top: $jb-icon-pad-y;
  padding-top: $jb-icon-pad-y;
  padding-left: $jb-icon-pad-x;
  padding-bottom: $jb-icon-pad-y;
  padding-right: $jb-icon-pad-x;
}
.jb-icon-contact { // icon on right
  flex: 1 0 5%; 
  margin: 0;
  padding-top: $jb-icon-pad-y;
  padding-right: $jb-icon-pad-x;
  padding-bottom: $jb-icon-pad-y;
  padding-left: $jb-icon-pad-x;
  color: $jb-icon;
  text-align: center;
  :hover {
    color: $jb-nav-hover-foreground;
  }
}
.activated {
  color: $jb-font-highlight;
  text-align: center;
  background: #222222;
  border: 1px;
  border-style: outset;
  border-color: #444444;
}