<div class="jb-contact">
  <div class="context">

    <!-- ul>(li>a[href="item$$" target="_self"]{Item $})*20 -->
    <!-- ul>(li>a[routerlink="/contact" fragment="#item-$$"]{Item $})*20 -->
    <!--  ul>(li>a[href="#item-$$" routerlink="/contact" fragment="#item-$$"]{Item $})*20-->
    <ul>
      <li><a href="#item-01" >Item 1</a></li>
      <li><a href="#item-02" routerlink="/contact" fragment="#item-02">Item 2</a></li>
      <li><a href="#item-03" routerlink="/contact" fragment="#item-03">Item 3</a></li>
      <li><a href="#item-04" routerlink="/contact" fragment="#item-04">Item 4</a></li>
      <li><a href="#item-05" routerlink="/contact" fragment="#item-05">Item 5</a></li>
      <li><a href="#item-06" routerlink="/contact" fragment="#item-06">Item 6</a></li>
      <li><a href="#item-07" routerlink="/contact" fragment="#item-07">Item 7</a></li>
      <li><a href="#item-08" routerlink="/contact" fragment="#item-08">Item 8</a></li>
      <li><a href="#item-09" routerlink="/contact" fragment="#item-09">Item 9</a></li>
      <li><a href="#item-10" routerlink="/contact" fragment="#item-10">Item 10</a></li>
      <li><a href="#item-11" routerlink="/contact" fragment="#item-11">Item 11</a></li>
      <li><a href="#item-12" routerlink="/contact" fragment="#item-12">Item 12</a></li>
      <li><a href="#item-13" routerlink="/contact" fragment="#item-13">Item 13</a></li>
      <li><a href="#item-14" routerlink="/contact" fragment="#item-14">Item 14</a></li>
      <li><a href="#item-15" routerlink="/contact" fragment="#item-15">Item 15</a></li>
      <li><a href="#item-16" routerlink="/contact" fragment="#item-16">Item 16</a></li>
      <li><a href="#item-17" routerlink="/contact" fragment="#item-17">Item 17</a></li>
      <li><a href="#item-18" routerlink="/contact" fragment="#item-18">Item 18</a></li>
      <li><a href="#item-19" routerlink="/contact" fragment="#item-19">Item 19</a></li>
      <li><a href="#item-20" routerlink="/contact" fragment="#item-20">Item 20</a></li>
    </ul>
  </div>
  <div class="flow">
    <!-- (h2[id="item-$$"]{Item $}+p>lorem25)*20 -->
    <div>
      <h2 id="item-01">Item 1</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, fugiat ratione. Perferendis expedita possimus
        vero at, quod recusandae quo magni, ex eligendi vel, ad exercitationem.</p>
      <h2 id="item-02">Item 2</h2>
      <p>Sequi illum iure iusto maiores recusandae vel dignissimos culpa dolorum ex exercitationem? Labore iusto quo
        doloremque ut tempore enim libero neque quod, laudantium maxime atque?</p>
      <h2 id="item-03">Item 3</h2>
      <p>Earum eaque, tempora suscipit laboriosam ipsam, voluptatem, cupiditate obcaecati et hic possimus quae illo ea
        nisi odit ab. Ullam id doloribus, necessitatibus vero ab doloremque!</p>
      <h2 id="item-04">Item 4</h2>
      <p>Cumque explicabo, ex nostrum ratione facilis vel nobis ipsam libero deleniti nam et omnis ipsum eaque itaque
        corrupti voluptatum, aperiam eligendi soluta necessitatibus. Necessitatibus, hic.</p>
      <h2 id="item-05">Item 5</h2>
      <p>Odio dolores cum rerum mollitia qui, non quidem tenetur ipsum sunt, error ad, atque debitis deleniti earum.
        Voluptatem, illum asperiores dignissimos accusamus perferendis fugit nisi?</p>
      <h2 id="item-06">Item 6</h2>
      <p>At, magni quae? In dolorum maiores illum commodi, magnam sunt delectus labore iure nam qui repellat quaerat
        veniam unde, doloremque, ratione ut debitis modi quasi?</p>
      <h2 id="item-07">Item 7</h2>
      <p>Consectetur optio deleniti quidem ipsam dignissimos placeat tempora sapiente quisquam, totam aut error
        quibusdam,
        exercitationem voluptate mollitia minus, nihil commodi deserunt harum excepturi odit. Praesentium.</p>
      <h2 id="item-08">Item 8</h2>
      <p>Voluptatum facilis temporibus recusandae obcaecati quas, aut autem, error expedita voluptatibus ex corporis?
        Delectus corporis perferendis quod reprehenderit aut at quaerat! Architecto inventore dolorem temporibus.</p>
      <h2 id="item-09">Item 9</h2>
      <p>Porro voluptates dolores odit eaque. Explicabo aliquam autem quidem atque accusamus esse voluptatum
        reprehenderit. Porro, voluptates. Officia molestias culpa ea beatae nesciunt saepe fuga sed!</p>
      <h2 id="item-10">Item 10</h2>
      <p>Quas, ipsam. Labore, eveniet sit neque dolorem voluptatum laborum deserunt rem! Odio dolores eos aspernatur
        iusto
        beatae adipisci perferendis error maiores exercitationem, dolorem odit corporis!</p>
      <h2 id="item-11">Item 11</h2>
      <p>Rem labore autem voluptates hic nostrum esse doloremque cupiditate, laboriosam eum perferendis ipsa veritatis
        illo mollitia voluptatibus, quidem asperiores reiciendis inventore. Nesciunt deserunt quibusdam aliquam.</p>
      <h2 id="item-12">Item 12</h2>
      <p>Harum, dignissimos voluptatibus. Alias expedita voluptas asperiores quaerat blanditiis eligendi molestias
        doloribus recusandae ratione velit repudiandae fugit at, est nemo. Assumenda cum est modi aliquid!</p>
      <h2 id="item-13">Item 13</h2>
      <p>Magni dolorem reprehenderit atque expedita illum unde nemo animi deleniti adipisci accusamus explicabo totam
        provident, molestias quas ut earum quo temporibus laboriosam omnis voluptatum cumque.</p>
      <h2 id="item-14">Item 14</h2>
      <p>Illo veniam, voluptas tempore porro architecto non! Ipsam consequatur minima, eligendi incidunt perspiciatis
        alias ex aut eaque iusto rem perferendis, quos libero in illo voluptas!</p>
      <h2 id="item-15">Item 15</h2>
      <p>Quos eum vel dicta perferendis laudantium, tempora velit eius, dignissimos corporis beatae ab quae odit nostrum
        blanditiis soluta, magnam quibusdam voluptatem possimus nisi doloribus dolores!</p>
      <h2 id="item-16">Item 16</h2>
      <p>Minima aperiam provident officiis. Sunt placeat similique qui perferendis, illum vitae eius aut id, corrupti
        fuga
        quidem odit quo earum explicabo officiis ab natus dignissimos?</p>
      <h2 id="item-17">Item 17</h2>
      <p>Aliquam, distinctio incidunt iusto odio soluta consequuntur ratione qui harum, veritatis neque velit,
        temporibus
        nulla enim provident non quam corrupti. Sit quidem perferendis minus error.</p>
      <h2 id="item-18">Item 18</h2>
      <p>Natus soluta autem tempora eius nesciunt eveniet, rem doloribus, earum fugit adipisci corrupti sequi quo aut,
        necessitatibus harum. Eos autem sed eaque molestiae tempora? Vitae!</p>
      <h2 id="item-19">Item 19</h2>
      <p>Rerum consequatur illo architecto, porro voluptate esse placeat explicabo, culpa eum quae delectus minima odio.
        Magnam quibusdam modi doloribus ex dicta minus, odio dolor facere.</p>
      <h2 id="item-20">Item 20</h2>
      <p>Tempora accusantium error, voluptas ullam, architecto adipisci autem, exercitationem amet cupiditate porro cum
        aperiam non vitae eos? Doloremque optio, voluptates architecto ipsam sequi ipsum molestias!</p>
    </div>
  </div>
</div>