@import "../globals";
.jb-contact {
  display: inline-block;
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  margin: 0;
  min-height: 0;
  background: transparent;
  .context {
    min-height: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: $jb-edge;
    padding-right: $jb-edge;
    background: transparent;
    max-width: 160px;
    color: $jb-font-highlight;
    ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      li {
        margin: 0;
        background: $jb-nav-background;
        color: $jb-font-highlight;
        margin-right: 1px; /* slight break from scroll bar */
        a {
          display: block; /* makes whole thing clickable. */
          padding-left: $jb-edge / 4;
          padding-right: $jb-edge; /* extends clickable area. */
          text-decoration: none;
          color: inherit;
          font-size: 0.91em;
          font-weight: 200;
        }
      }
      li:hover {
        color: $jb-nav-hover-foreground;
        background: $jb-nav-active-background3;
      }
    }
  }
  .flow {
    min-height: 0;
    padding-left: $jb-edge;
    padding-right: $jb-edge;
    flex: 1 1 80%;
    //margin-left: 150px;
    color: $jb-icon;
  }
}
body {
  margin: 0;
}
.activated {
  color: $jb-font-highlight !important;
  background: #222222;
  border: 1px;
  border-style: outset;
  border-color: #444444;
}
.jb-frame {
  border-color: $jb-frame-foreground;
}