<div class="jb-logon">
  <div class="jb-center">
     
    <div>
      <div>
        <div class="jb-field-caption jb-align-left">User Name:</div>
        <input [(ngModel)]="userName" #ctrl="ngModel" required type="text" name="User Name" id="userName" title="User Name: " class=" jb-field-value">
      </div>
      <div>
        <div class="jb-field-caption jb-align-left">Password:</div>
        <input class="jb-field-password" [(ngModel)]="password" type="password" name="Password"> 
      </div>
    </div>
    <button class="jb-action-button" (click)="tryLogOn($event)" >Log in player</button>
      </div>
   <div *ngFor="let user of users$ | async">
     {{ user.displayName }}
   </div>
</div>