<div class="jb-logon">
  <div class="jb-center">
     
    <div>
      <div>
        <div class="jb-field-caption jb-align-left">User Name:</div>
        <input class="jb-field-value" type="text" name="User Name" id="userName" title="User Name: ">
      </div>
      <div>
        <div class="jb-field-caption jb-align-left">Password:</div>
        <input class="jb-field-password" type="password" name="Password">
      </div>
    </div>
    <button class="jb-action-button" >Whatever</button>
      </div>

</div>