@import '../globals';
.jb-logon {
    margin: 0;
    display: block;
    height: 95%;
    width: 100hw;
   text-align: center;
  
} 
.jb-center {
    display: inline-block;
}
.jb-align-left {
    text-align: left;
}
