// color constants:
$jb-edge-background: red;
$jb-main-background: black;
$jb-main-normal: #cccccc;
$jb-title: #eed33c;
$jb-icon: #aaaaaa;
$jb-nav-background: black;
$jb-nav-hover-background1: rgb(221, 92, 92);
$jb-nav-hover-background2: darkgray;
$jb-nav-hover-foreground: white;
//$jb-nav-active-background:#160661;
$jb-nav-active-background1:#666666;
$jb-nav-active-background2:#444444;
$jb-nav-active-background3:#000000;
$jb-nav-active-foreground: #d5d827;
$jb-body-background1: #160661 ;
$jb-body-background2: #5336d3 ;
$jb-footer-background1: #444444;
$jb-footer-background2: #000000;