// color constants:
$jb-edge-background: black;
$jb-main-background: black;
$jb-main-normal: #cccccc;
$jb-font-highlight: #eed33c;
$jb-font-normal-color: #999999;
$jb-font-inverse-color: #444444;
$jb-font-subdued-color: #888888;
$jb-font-bright-color: #CCCCCC;
$jb-icon-color: #999999;
$jb-nav-background: black;
$jb-nav-hover-background1: rgb(221, 92, 92);
$jb-nav-hover-background2: darkgray;
$jb-nav-hover-foreground: white;
$jb-active-background: #222222;
$jb-nav-active-background1: #aaaa55;
$jb-nav-active-background2: #444422;
$jb-nav-active-background3: #222211;
$jb-nav-active-foreground: #eeeeee;
$jb-nav-inactive-foreground: #999999;
$jb-body-background1: #160661 ;
$jb-body-background2: #5336d3 ;
$jb-footer-background1: #444444;
$jb-footer-background2: #000000;
$jb-tooltip-color: #eed33c;
$jb-tooltip-background1: #aa0000;
$jb-tooltip-background2: #880000;
$jb-scrollbar-foreground: #917e23;
$jb-scrollbar-background: #333333;
$jb-frame-foreground: #333333;
$jb-active-border-color: #444444;
$jb-field-background: #666666;
$jb-field-background-active: #aaaaaa;
$jb-field-foreground: #090f61;
$jb-field-caption: #eed33c;
$jb-button-background1: #222222;
$jb-button-background2: #666666;
$jb-button-font-color: #000000;
$jb-button-highlight-font-color: #aaaaaa;