// color constants:
$jb-main-background: black;
$jb-main-normal: #cccccc;
$jb-title: #3cee9b;
$jb-nav-background: black;
$jb-nav-hover-background1: rgb(221, 92, 92);
$jb-nav-hover-background2: darkgray;
$jb-nav-hover-foreground: white;
//$jb-nav-active-background:#160661;
$jb-nav-active-background1:#160661;
$jb-nav-active-background2:#ccc8df;
$jb-nav-active-foreground: #d5d827;
$jb-body-background1: #160661 ;
$jb-body-background2: #5336d3 ;