// geometry definitions:
$jb-edge: 15px; 
$jb-icon-pad-x: 15px;
$jb-icon-pad-y: 5px;
$jb-header-height: 40px;
$jb-footer-height: 30px; // 27
$jb-navbar-height: 150px;
$jb-image-height: 150px;
$jb-scroll-headroom: 100px;
$jb-context-width-min: 120px;
$jb-context-width-max: 200px;

