// geometry definitions:
$jb-edge: 15px; 
$jb-icon-pad-x: 18px;
$jb-icon-pad-y: 2px;
$jb-icon-border: 1px;
$jb-header-height: 45px;
$jb-footer-height: 30px; // 27
$jb-navbar-height: 140px;
$jb-image-height: 150px;
$jb-scroll-headroom: 100px;
$jb-context-width-min: 120px;
$jb-context-width-max: 200px;
$jb-tooltip-spread-x: 75px;
$jb-tooltip-spread-y: 20px;
