@import "./globals";

/* used https://autoprefixer.github.io/ to add vendor prefixes */

:host /deep/ {
  .jb-main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: $jb-edge-background;
    color: $jb-font-normal;
    overflow: hidden;
    z-index: 0;
    margin: 0px;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
  }
}
.jb-main {
  // this is the outermost frame
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.jb-layout {
  // Positions the main elements for multiple media.
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding-top: $jb-edge;
  padding-right: $jb-edge;
  padding-bottom: $jb-edge;
  padding-left: $jb-edge;
  // we build the items from the top down:
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}
.jb-header {
  margin-top: $jb-edge;
  flex: 0 0 $jb-header-height;
  z-index: 0;
  background: white;
}
.jb-nav {
  flex: 0 0 $jb-navbar-height;
  background: transparent;
  z-index: 100;
}
.jb-major {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex: 100%;
  z-index: 200;
  overflow: hidden;
  background:transparent;
  margin: 0;
}
.jb-footer {
  flex: 0 0 $jb-footer-height;
  height: auto;
  z-index: 100;
  background: green;
  margin: 10px;
}
/deep/ .mat-tooltip {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  margin: 10px;
  color: $jb-tooltip-color !important;
  background: -webkit-radial-gradient($jb-tooltip-background1 5%, $jb-tooltip-background2 20%, transparent 70%);
  background: -o-radial-gradient($jb-tooltip-background1 5%, $jb-tooltip-background2 20%, transparent 70%);
  background: radial-gradient($jb-tooltip-background1 5%, $jb-tooltip-background2 20%, transparent 70%);
}
.flat {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
