<!-- main is locked to entire screen less the footer -->
<div class="jb-main jb-font">
  <header class="jb-header jb-font flat">
    <app-header class="flat"></app-header>
  </header>
  <nav class="jb-nav flat jb-font">
    <app-navigation class="flat"></app-navigation>
  </nav>
  <div class="jb-midzone">
    <div class="jb-outlet flat jb-font">
      <!-- <h1>Testing here</h1> -->
      <router-outlet ></router-outlet>
    </div>
  </div>
  <!-- footer is locked to bottom edge -->
</div>
<footer class="jb-footer flat jb-font">
  <app-footer class="flat"></app-footer>
</footer>