@import "./globals";

/* used https://autoprefixer.github.io/ to add vendor prefixes */

:host /deep/ {
  .jb-main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: $jb-edge-background;
    color: $jb-font-normal;
    overflow: hidden;
    z-index: 0;
    margin: 0px;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
  }
}
.jb-main { /* THe entire screen area */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: $jb-main-background;
}
.jb-header {
 // position: fixed;
 /// top: 0;
 display: block;
  left: 0;
  right: 0;
  margin-top: $jb-edge;
  z-index: 100;
  background: transparent;
}
.jb-nav {
  display: block;
  background: transparent;
  z-index: 100;
}

.jb-footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  position: fixed;
  bottom: $jb-edge;
  height: $jb-footer-height;
  z-index: 100;
  background: transparent;
}
/deep/ .mat-tooltip {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  margin: 10px;
  color: $jb-tooltip-color !important;
  background: -webkit-radial-gradient($jb-tooltip-background1 5%, $jb-tooltip-background2 20%, transparent 70%);
  background: -o-radial-gradient($jb-tooltip-background1 5%, $jb-tooltip-background2 20%, transparent 70%);
  background: radial-gradient($jb-tooltip-background1 5%, $jb-tooltip-background2 20%, transparent 70%);
  z-index: 2000;
}
// .flat {
//   // margin-top: 0;
//   // padding-top: 0;
//   // margin-bottom: 0;
//   // padding-bottom: 0;
// }
.jb-midzone { /* contains the major wrapper for the outlet */
  position: fixed;
  top: $jb-header-height + $jb-navbar-height + $jb-edge;
  bottom: $jb-footer-height + 10px;
  left: $jb-edge;
  right: $jb-edge;
  z-index: 1000;
  display: block;
}
.jb-outlet { /* has the router-outlet */
  display: inline-block;
  height: 100%; 
  margin: 0;
}