@import "../globals";
.jb-nav-bar {
  margin: 0;
  padding: 0;
  position: fixed;
  top: $jb-header-height;
  right: 0;
  left: 0;
  margin: 0;
  background: transparent;
  z-index: 100;
  display: block;
  .jb-nav-top {
    margin: 0;
    padding: 0;
    display: block;
    min-width: 300px;
    background: transparent;
    list-style-type: none;
    text-align: center;
    z-index: 200;
    li {
      display: inline-block;
      min-width: 80px;
      margin-top: 4px;
      margin-right: 6px + $jb-icon-pad-x;
      margin-bottom: 2px;
      margin-left: 6px + $jb-icon-pad-x;
      padding: 3px;
      background: $jb-nav-background;
      color: $jb-nav-inactive-foreground;
      a {
        text-decoration: none;
        color: inherit;
        padding-top: $jb-icon-pad-y;
        padding-right: $jb-icon-pad-x;
        padding-bottom: $jb-icon-pad-y;
        padding-left: $jb-icon-pad-x;
        font-size: 1.1em;
        box-sizing: border-box;
      }
    }
    li:hover {
      color: $jb-nav-hover-foreground;
    }
    .activated {
      color: $jb-font-highlight !important;
      background: $jb-active-background;
      border: $jb-icon-border;
      border-style: outset;
      border-color: $jb-active-border-color;
      margin-left: 0 - $jb-icon-border;
      margin-right: 0 - $jb-icon-border;
      padding-left: $jb-icon-pad-x;
      padding-right: $jb-icon-pad-x;
      padding-bottom: $jb-icon-pad-y;
      padding-top: $jb-icon-pad-y;
    } // todo: migrate colors to globals.
  }
}
.jb-image-frame {
  display: block;
  height: 100%;
  width: 95%;
  z-index: 0;
  text-align: center;
  .jb-main-image {
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: $jb-edge/2;
  }
}
// body {
//   margin: 0;
//   padding: 0;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }
