<body >
  <div class="jb-nav-bar">

    <ul class="jb-nav-top">
      <li><a routerLink="/home" routerLinkActive="activated" matTooltip="The initial page"
        matTooltipClass="jb-tooltip">Home</a></li>
        <li><a routerLink="/schedule" routerLinkActive="activated"
          matTooltip="Availability of band members and venues">Schedule</a></li>
          <li><a routerLink="/music" routerLinkActive="activated" matTooltip="Song lists, set lists and music">Music</a>
          </li>
    <li><a routerLink="/studio" routerLinkActive="activated" matTooltip="Information on the studio equipment">Studio</a>
    </li>
    <li><a routerLink="/projects" routerLinkActive="activated"
      matTooltip="Designs, program code and configuration">Projects</a></li>
    </ul>
  </div>
  <div class="jb-image-frame">
    <img class="jb-main-image"
    src="assets/img/keyboard02.png" >
  </div>
  </body>