@import "../colorScheme";

.jb-navbar {
  margin: 0;
  nav {
    display: flex;
    position: initial;
    margin-top: 12px;
    margin-bottom: 0;
    justify-content: space-evenly;
    ul {
      background: $jb-main-background;
      list-style-type: none;
    }
    li {
      float: left;
      margin-left: 10;
      margin-right: 10;
      margin-top: 0;
      margin-bottom: 2;
      padding: 10;
      background: $jb-nav-background;
      border-top-left-radius: 10px;
      color: $jb-icon;
      a {
        text-decoration: none;
        color: inherit;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 2px;
        font-size: 1.1em;
      }
    }
    li:hover {
      color: $jb-nav-hover-foreground;

      //font-weight: 800;
    }
    li:left {
      color: $jb-nav-active-foreground;
    }
    .activated {
      color: $jb-nav-active-foreground;
      background: #222222;
      border: 1px;
      border-style: outset;
      border-color: #444444;
    }
  }
  .jb-nav-top {
    color: $jb-title;
    background-color: $jb-main-background;
  }
}
.tight {
  margin: 0;
  padding: 0;
}
.jb-main-image {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
