<header>
  <!-- <div class="top-to-bottom">contains the entire navigation area -->
    <a routerLink="/contact" class="right jb-nav-top">
      <mat-icon matTooltip="Leave a message for us" 
      class="action-icon">insert_comment</mat-icon>
    </a>
    <div class="left-to-right">
      <ul class="left">
        <li>
            <a routerLink="/logon" >
               <mat-icon  matTooltip="Click to log on as a player" class="jb-nav-top left action-icon">vpn_key</mat-icon>
            </a>
        <!-- placeholder for future login status, etc. -->
      </li>
      <li>
        <div class="jb-nav-top jb-heading" matTooltip={{playerMessage}} >Welcome {{user}}!</div>
      </li>
    </ul>
    </div>
    <!-- this is the navigation bar -->
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="activated" matTooltip="The initial page">Home</a></li>
        <li><a routerLink="/schedule" routerLinkActive="activated" matTooltip="Availability of band members and venues">Schedule</a></li>
        <li><a routerLink="/music" routerLinkActive="activated" matTooltip="Song lists, set lists and music">Music</a></li>
        <li><a routerLink="/studio" routerLinkActive="activated" matTooltip="Information on the studio equipment">Studio</a></li>
        <li><a routerLink="/projects" routerLinkActive="activated" matTooltip="Designs, program code and configuration">Projects</a></li>
      </ul>
    </nav>
  <!-- </div> -->
</header>