<header>
  <div>
    <!-- placeholder for future login status, etc. -->
    <div><i>Welcome!</i></div>
    <!-- this is the navigation bar -->
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/schedule">Schedule</a></li>
        <li><a routerLink="/music">Music</a></li>
        <li><a routerLink="/studio">Studio</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>