/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';
@import 'app/globals';
/* Alternatives are 
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
  
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
  
    ::-webkit-scrollbar-track {
        background: $background-color;
    }
  
    // For Internet Explorer
    body {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }
  @include scrollbars(0.6em, $jb-scrollbar-foreground,$jb-scrollbar-background);

  

.jb-side-heading {
    font-size: 1.2em;
 }

